*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 35rem;
    height: 35rem;
    border: 10px solid #52656f;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pieceImg{
    width: 95%;
}

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .75);
}

.modal-closed{
    display: none;
}

.pieces-box{
    width: fit-content;
    background-color: white;
    padding: .5rem 3rem;
}

.available-piece{
    width: 5rem;
}